body {
	font: 14px Arial, Helvetica, sans-serif;
	background: #ffffff url(images/main-bg.gif);
	padding: 0;
	margin: 0;
}
img {
	border: none;
}

/* dock - top */
.dock {
	position: relative; 
	height: 50px; 
	text-align: center;
}
.dock-container {
	position: absolute;
	height: 50px;
	background: url(images/dock-bg2.gif);
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}
a.dock-item {
	display: block;
	width: 40px;
	color: #000;
	position: absolute;
	top: 0px;
	text-align: center;
	text-decoration: none;
	font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
	border: none; 
	margin: 5px 10px 0px; 
	width: 100%; 
}
.dock-item span {
	display: none;
	padding-left: 20px;
}

.main {
	position: relative;
	width: 600px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.text {
	position: relative;
	text-align: left;
	line-height: 1.2em;
}