.Summary_Body {
    color: #493b3b;
    font-family: 'Cochin', 'Times New Roman', 'serif';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 197px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Summary_Date_Archive {
    color: #493b3b;
    font-family: 'Cochin', 'Times New Roman', 'serif';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 3px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Summary_Title_Archive {
    color: #262626;
    font-family: 'Cochin', 'Times New Roman', 'serif';
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 16px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Title {
    color: #545454;
    font-family: 'Cochin', 'Times New Roman', 'serif';
    font-size: 40px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing:    -0.04em;
    line-height: 46px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    opacity: 1.00;
    padding-bottom: 0px;
    padding-top: 0px;
    text-align: left;
    text-decoration: none;
    text-indent: 0px;
    text-transform: none;
}
.Normal {
    padding: 4px;
}
.graphic_generic_body_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
.graphic_generic_title_textbox_style_default {
    background: transparent;
    float: none;
    margin: 0px;
    opacity: 1.00;
}
a {
    color: #262626;
    text-decoration: none;
}
a:visited {
    color: #666666;
    text-decoration: none;
}
a:hover {
    color: #545454;
    text-decoration: none;
}
ol {
    list-style-image: none;
    list-style-position: inside;
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-indent: 0;
}
.Bullet {    border: none;
    text-decoration: none;
}
div {
    overflow: visible;
}
img {
    border: none;
}
.InlineBlock {display: inline; }
.InlineBlock {display: inline-block; }
.tinyText {
    font-size: 1px;
}
